.page-confirmation {
    width: 100%;
    h1 {
        font-size: 28px;
        font-family: 'Fredoka One', cursive;
        margin-bottom: 2rem;
    }
    p {
        font-size: 18px;
        margin-bottom: 1rem;
    }
}