.homepage {
    #template {
        display: none;
        visibility: hidden;
    }

    .title-homepage {
        display: flex;
        justify-content: center;
    }

    #card-products {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}